.bm-burger-button{
  display: none;
}

/* footer css starts */

.Mycontainer{
  max-width: 1170px;
  margin: auto;
}
.row4{
  display: flex;
  flex-wrap: wrap;

}


ul{
  list-style: none;
}

.footer{
  background-color: #f8f8f8;
  padding: 70px;
}
.footer-col{
width: 25%;
padding: 0 30px;
}
.footer-col h5{
  font-size: 18px;
  color: black;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
  position: relative;
}
.footer-col ul li a{
  text-decoration: none;
  font-weight: 300;
  display: block;
  color: black;
}
.footer-col ul li a:hover{
  color: black;
  padding-left: 8px;
}
@media screen  and (min-width: 100px) and (max-width: 800px){
  .template{
    display: inline !important;
  }
  .bootstrap{
    display: inline !important;
  }
  .angular{
    display: inline !important;
  }
  .vue{
    display: inline !important;
  }
  .vue image{
    display: inline !important;
  }
  .lion{
    padding-right: 70px;
  }
    .nest{
      display: inline !important;
    }
    .svelte{
      display: inline !important;
    }
    .ember{
      display: inline !important;
    }
    .tiger{
      padding-right: 100px;
    }
    .solid{
      display: inline !important;
    }
    .solidimage{
      padding-right: 110px;
    }
    .next{
      display: inline !important;
    }
    .nextimage{
      padding-right: 70px;
      margin-bottom: 20px;
    }
    .graph{
      display: inline !important;
    }
    .graphimage{
      padding-right: 160px;
      margin-bottom: 20px;
    }
  }
  

