.nav-item .active {
  font-weight: bold;
  /* border-bottom: 2px solid blueviolet; */
  color: blueviolet !important;
}  




.bm-burger-button{
  display: none;
}

/* footer css starts */

.Mycontainer{
  max-width: 1170px;
  margin: auto;
}
.row4{
  display: flex;
  flex-wrap: wrap;

}


ul{
  list-style: none;
}

.footer{
  background-color: #f8f8f8;
  padding: 70px;
}
.footer-col{
width: 25%;
padding: 0 30px;
}
.footer-col h5{
  font-size: 18px;
  color: black;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
  position: relative;
}
.footer-col ul li a{
  text-decoration: none;
  font-weight: 300;
  display: block;
  color: black;
}
.footer-col ul li a:hover{
  color: black;
  padding-left: 8px;
}

/* media screen css starts */

@media screen  and (min-width: 100px) and (max-width: 800px){
  .template{
    display: inline !important;
  }
  .bootstrap{
    display: inline !important;
  }
  .angular{
    display: inline !important;
  }
  .vue{
    display: inline !important;
  }
  .vue image{
    display: inline !important;
  }
  .lion{
    padding-right: 70px;
  }
    .nest{
      display: inline !important;
    }
    .svelte{
      display: inline !important;
    }
    .ember{
      display: inline !important;
    }
    .tiger{
      padding-right: 100px;
    }
    .solid{
      display: inline !important;
    }
    .solidimage{
      padding-right: 110px;
    }
    .next{
      display: inline !important;
    }
    .nextimage{
      padding-right: 70px;
      margin-bottom: 20px;
    }
    .graph{
      display: inline !important;
    }
    .graphimage{
      padding-right: 160px;
      margin-bottom: 20px;
    }
    .expressimg{
      padding-right: 100px;
      margin-bottom: 20px;
    }
    .express{
      display: inline !important;
    }
    .nativeimg{
      padding-right: 170px;
      margin-bottom: 20px;
    }
    .native{
      display: inline !important;
    }
    .loimg{
      display: inline !important;
    }
    .broimg{
      padding-right: 100px;
    }
    .reactimg{
      padding-right: 100px;
    }
  }

  /* ui verse checkbox css start from exportstack files */

/* Hide the default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox container */
.checkbox-container {
  position: relative;
  display: inline-block ;
  font-size: 18px; /* Make the checkbox slightly bigger */
  margin-bottom: 12px;
  cursor: pointer;
margin-inline-end: 40px;
margin-top: 8px;
  
}

/* Style the checkmark */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px; /* Make the checkbox slightly bigger */
  width: 20px; /* Make the checkbox slightly bigger */
  border: 2px solid #2196f3; /* Default color for the box */
  border-radius: 6px; /* Round the corners */
  background-color: #2196f3; /* Default color for the box */
  transition: all 0.3s ease; /* Add smooth transition */
}

/* Show the checkmark when checkbox is checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
  animation: checkboxExpand 0.3s ease forwards;
}

/* Style the checkmark/indicator */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%) rotate(45deg) scale(0); /* Center and hide initially, then scale to appear */
  width: 8px; /* Adjust size */
  height: 15px; /* Adjust size */
  border: solid #fff; /* Change color of the tick to white */
  border-width: 0 3px 3px 0; /* Adjust thickness and direction */
}

/* On hover, add a lighter blue background color */
.checkbox-container:hover .checkmark {
  background-color: #64b5f6;
}

/* When the checkbox is checked, add a black background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #000;
  border-color: #000; /* Change border color */
}

/* When the checkbox is checked, change the tick color to blue */
.checkbox-container input:checked ~ .checkmark:after {
  border-color: #dbedff; /* Change tick color to blue */
}

/* Keyframes for expanding animation */
@keyframes checkboxExpand {
  0% {
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
}
/* close checkbox css */

/* button css start from login page */

.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-53 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}

.btn-53:disabled {
  cursor: default;
}

.btn-53:-moz-focusring {
  outline: auto;
}

.btn-53 svg {
  display: block;
  vertical-align: middle;
}

.btn-53 [hidden] {
  display: none;
}

.btn-53 {
  border: 1px solid black;
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 500;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
}

.btn-53 .original {
  background: #fff;
  color: #000;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn-53:hover .original {
  transform: translateY(100%);
}

.btn-53 .letters {
  display: inline-flex;
}

.btn-53 span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-53 span:nth-child(2n) {
  transform: translateY(15px);
}

.btn-53:hover span {
  opacity: 1;
  transform: translateY(0);
}

.btn-53:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

.btn-53:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

.btn-53:hover span:nth-child(4) {
  transition-delay: 0.3s;
}

.btn-53:hover span:nth-child(5) {
  transition-delay: 0.4s;
}

.btn-53:hover span:nth-child(6) {
  transition-delay: 0.5s;
}

/* button css start from all button in projects except login */

/* From uiverse.io by @Ali-Tahmazi99 */
button {
  display: inline-block;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #03045e;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 1;
 }
 
 button::before,
 button::after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  transform: skew(15deg);
  transition: all 0.5s;
  overflow: hidden;
  z-index: -1;
 }
 
 button::before {
  left: -10px;
  background: #240046;
 }
 
 button::after {
  right: -10px;
  background: #5a189a;
 }
 
 button:hover::before,
 button:hover::after {
  width: 58%;
 }
 
 button:hover span {
  color: #e0aaff;
  transition: 0.3s;
 }
 
 button span {
  color: #03045e;
  font-size: 18px;
  transition: all 0.3s ease-in;
 }
  
      

  

